/* {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {font-family: 'Merienda', cursive;
}

h1, h2, h3 {
    color: #000000;
    text-align: center;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #99FF99;
}

h2, h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #99FF99;
}

h4, p, a {
    text-align: center;
    color: #ffffff;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #003333;
}

#rcorners1 {
    border-radius: 15px 50px;
    background: #99FF99;
    padding: 10px;
    width: 300px;
    height: auto;
}

@media (max-width: 50em) {
#rcorners1 {
display: none;
}
}

.img-responsive {
    width: 100%;
    height: auto;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}