/* {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {font-family: 'Merienda', cursive;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
/*    background-color: #99FF99;*/
/*    border-radius: 8px;*/
}

h3 {
    color: #000000;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #99FF99;
}

h4, p, a {
    text-align: center;
    color: #ffffff;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #003333;
}

#rcorners1 {
    border-radius: 5px 65px;
    background: #99FF99;
    padding: 3px;
    width: 300px;
    height: auto;
}

/*@media (max-width: 50em) {
#rcorners1 {
display: none;
}
}*/

#rcorners2 {
    border-radius: 65px 5px 65px;
    background: #99FF99;
    padding: 3px;
}

#quote {
    text-align: center;
}

#rcorners3, #rcorners4 {
    border-radius: 25px;
    padding: 8px;
}

#rcorners5 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#rcorners6 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#copyright {
    margin-left: 15px;
    margin-bottom: 10px;
}

.img-responsive {
    width: 100%;
    height: auto;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}