/* {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* head {
    {
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 1s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/

h1, h2, h3, h4 {
    font-family: 'Merienda', cursive;
}

h1 {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ffffff;
    text-align: left;
    font-size: 40px;
}

h2 {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 30px;
/*  background-color: #99FF99;
    border-radius: 8px;*/
}

h3 {
    color: #000000;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    /*background-color: #99FF99;*/
    font-size: 20px;
}

h4 {
    text-align: left;
    color: #99FF99;
    font-size: 15px;
    padding-top: 2px;
}

h5 {
    text-align: left;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 18px;
    text-decoration: underline;
}

p {
    text-align: left;
    color: #ffffff;
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
}

.grid {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: #003333;
}

#rcorners1 {
    float: right;
    border-radius: 25px;
    background: #99FF99;
    padding: 2px;
    width: 100%;
    height: auto;
}

#rcorners2 {
    border-radius: 25px;
    background: #99FF99;
    padding: 2px;
}

#quote {
    font-family: 'Merienda', cursive;
    font-size: 16px;
    text-align: center;
}

a, .list {
    color: #ffffff;
}

/*#linkpower, #dockbottom, #dockright, {
    width: 100%;
    height: auto;
    border-radius: 25px;
    border: 2px solid;
    border-color: #99FF99;
}*/

#linkedin, #iozzos, #git, #travel, #rcorners4 {
    border-radius: 25px;
    padding: 8px;
}

#rcorners5 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#rcorners6 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.linebreak1 {
    border: 0;
    width: 90%;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153,255,153, 0.75), rgba(0, 0, 0, 0));
}

.linebreak2 {
    border: 0;
    width: 50%;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153,255,153, 0.75), rgba(0, 0, 0, 0));
}

.img-responsive {
    width: 100%;
    height: auto;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}